@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');

body {
    padding: 1em;
    background-color: white;
}

.hamburger, #hamburger {
    display: none;
}

header a, #menu a {
    text-decoration: none;
}

header a { color: white; }
#menu a { color: black; }

header {
    background-color: #046DD5;
    padding: 1em;
}

header h1, header h2 {
    font-family: Lora;
}

header.signup {
    font-family: Poppins;
}

p:hover {
    color: white;
}

section:hover {
    background-color: #2A2F33 
}

#menu {
    background-color: rgb(224, 216, 197);
}

#menu ul { 
    list-style-type:none;
    font-family: Poppins;
    text-align: center;
}

#menu ul li:nth-child(1) { border-top: 0.5em solid #E1493E; }
#menu ul li:nth-child(2) { border-top: 0.5em solid #8ABA56; }
#menu ul li:nth-child(3) { border-top: 0.5em solid #5B4282; }
#menu ul li:nth-child(4) { border-top: 0.5em solid #FF8932; }
#menu ul li:nth-child(5) { border-top: 0.5em solid #19B6E9; }
#menu ul li:nth-child(6) { border-top: 0.5em solid #E84C8B; }