/* Exercício 1

body > aside {
    float: right;
    width: 20em;
    height: 44.26em;
}

#s1, #s2 {
    width: 36em;
}

*/

/* Exercício 2

body > aside {
    float: right;
    width: 20em;
    height: 25.2em;
}

#s1, #s2 {
    width: 36em;
    height: 9em;
}

#s1 > article, #s2 > article {
    float: right;
    width: 8em;
}

*/

/* Exercício 3 */

