@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');

body {
    padding: 1em;
    background-color: white;
}

.hamburger, #hamburger {
    display: none;
}

#signup > a:first-child::after {
    content: "  |  "
}

header a, #menu a, #related a {
    text-decoration: none;
}

body > header a { color: white; }
#menu a { color: black; align-content: center; }

body > header:first-of-type {
    background-color: #046DD5;
    padding: 1em 1.5em 2.3em;
}

body > header h1, body > header h2 {
    font-family: Lora;
}

header.signup {
    font-family: Poppins;
}

#menu {
    background-color: rgb(224, 216, 197);
}

#menu ul { 
    list-style-type: none;
    font-family: Poppins;
    text-align: center;
    padding-inline-start: 0px;
}

#menu ul li {
    padding: 1em;
    padding-inline-start: 0px;
}

#menu ul li:nth-child(1) { border-top: 0.5em solid #E1493E; }
#menu ul li:nth-child(2) { border-top: 0.5em solid #8ABA56; }
#menu ul li:nth-child(3) { border-top: 0.5em solid #5B4282; }
#menu ul li:nth-child(4) { border-top: 0.5em solid #FF8932; }
#menu ul li:nth-child(5) { border-top: 0.5em solid #19B6E9; }
#menu ul li:nth-child(6) { border-top: 0.5em solid #E84C8B; }

#menu ul li:nth-child(n):hover { background-color: #848d91; }

#related {
    margin: 1em 0em 1em;
    padding: 1em;
    background-color: #323232;
}

#related a, #related p {
    color: white;
    text: white;
    font-family: Poppins;
}

#news article p {
    padding: 0em 1em 0.5em;
}

#news article p:first-of-type::first-letter {
    font-size: 2em;
}

#news article footer, #news article footer a {
    padding: 1em;
    background: #E1493E;
    color: white;
    margin: 0.5em 0em;
}

article {
    position: relative;
}

article > header {
    position: absolute;
}

#news > article > header > h1 > a {
    color: white;
    padding: 0em 1.5em;
    font-size: 2em;
}

#news > article > img {

}

body > footer {
    background: #848d91;
    padding: 1em;
    font-size: 20px;
    color: white;
}